<div class="container anfahrt-ueberschrift">
  <div class="center header-sec">
    Anfahrt
  </div>
  <p class="center beschreibung">
      Unsere Praxis befindet sich im Herzen Pforzheims, direkt am Turnplatz. Immer mittwochs gibt es hier einen Wochenmarkt und sonst bietet dieser Platz genügend Parkmöglichkeiten für unsere Patienten. Im Toreingang des Wellendorff-Gebäudes finden Sie rechts den Eingang zu unserer Praxis.
  </p>
</div>

<div class="anfahrt-wrapper">
  <div class="row">
    <div class="col-sm-6 col-xs-12">

    </div>
    <div class="col-sm-6 col-xs-12">

    </div>
  </div>
</div>
<!-- Google API KEY -->
<!-- AIzaSyDolWR6dIMwoJsTnCWFdMOlV5_Do0v1FYE -->
